<template>
  <div class="home">
    <h1> This is the Homepage with Vue Icon </h1>
    <img alt="Vue logo" src="../assets/logo.png">
  </div>
</template>

<script>
export default {
  name: 'Home',
}
</script>

<style>
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>