<template>
    <div class="menu-item" @click="isOpen = !isOpen, isOpenSub_menu=false"> <!--  Not Working on focus events eg.@focus/@blur, but watchers did the trick -->
     <a href="#" data-drop-down-button>
        {{ title }} 
        </a>

    <div class="sub-menu" v-if="isOpen" @mouseleave="isOpen = false"> <!-- @mouseLeave = "isOpen = false" can be omitted -->
        <div v-for="(item, i) in items" :key="i" class="menu-item" data-drop-down>
            <router-link :to="item.link" @mouseover="getSelectedItem(item.title)">{{ item.title }}</router-link>
        </div>

    <div class="sub-sub-menu" v-if="isOpenSub_menu">
        <div v-for="(item, i) in ToDoItems" :key="i" class="menu-item">
            <a :href="item.link">{{ item.title }}</a>
        </div>
    </div>

    </div>
    </div>
</template>

<script>
export default {
    name: 'dropdown',
    props: ['title', 'items'],
    data () {
        return {
            isOpen: false, //TO open up our primary menu
            isOpenSub_menu: false, //To open up our secondary menu
            ToDoItems: [
                {
                    title: "Hello",
                    link: "#"
                },
                {
                    title: "World",
                    link: "#"
                }
            ]
        }
    },
    watch: {
        isOpen(newValue) {
            console.log("value: I am changed!!");
            if (newValue) {
                document.addEventListener('click', this.closeIfCloseOutside);
            }
        }
    },
    methods: {
        getSelectedItem (item){
            console.log(item)

            if(item == "First"){
                return this.isOpenSub_menu = !this.isOpenSub_menu;
            }
            else{
                return this.isOpenSub_menu = false;
            }
        },
        closeIfCloseOutside(event){

            console.log(event.target.matches("[data-drop-down-button]"));

            if (!event.target.matches("[data-drop-down-button]")) {
                console.log('menu closed');
                this.isOpen = false;

                document.removeEventListener('click', this.closeIfClickedOutside);
                console.log('revoked action listener');
            }

        }
    }
    
}

</script>

<style>

nav .menu-item {
    position: relative;
}

nav .menu-item .sub-menu {
    position: absolute;
    background-color: #222;
    top: calc(100% + 18px);
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    border-radius: 0px 0px 16px 16px;
}

nav .menu-item .sub-menu .sub-sub-menu{
    position: absolute;
    background-color: #222;
    top: calc(30% + 5px);
    left: 100%;
    transform: translateY(-50%);
    width: max-content;
    border-radius: 0px 0px 16px 16px;
}

</style>