<template>
<header>
   <nav>
       <div class="menu-item"><router-link to="/home">Home</router-link></div>
       <div class="menu-item"><router-link to="/about">About</router-link></div>
       <Dropdown title="Dropdown" :items="services" />
       <div class="menu-item"><a href="#">Contact</a></div>
   </nav>
</header>
</template>

<script>
import Dropdown from './Dropdown';

export default {
    name: 'navbar',
    components: {
      Dropdown
      },
    data () {
      return {
        services: [
          {
            title: 'First',
            link: '#'
          },
          {
            title: 'Vue',
            link: '#'
          },
          {
            title: 'Experience',
            link: '#'
          }
        ]
      }
    }
}
</script>

<style>

header {
  width: 100vw;
  background-color: rgb(179, 173, 173);
  padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu-item {
    color: #FFF;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid transparent;
    display: flex;
    transition: 0.4s;
}

nav .menu-item.active,
nav .menu-item:hover {
    background-color: #444;
    border-bottom-color: #FF5858;
}

nav .menu-item a {
    color: inherit;
    text-decoration: none;
}

</style>