<template>
  <div id="app">
    <!-- router-link is added to intercept the request -->
    <!-- <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link> --> 
  </div>
  <router-view/>
</template>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Lucida Sans', Verdana;
}
</style>
